/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
	padding-bottom: 40px;
	color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper>.container {
	padding-right: 0;
	padding-left: 0;
}

.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}

.navbar-wrapper .navbar .container {
	width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 500px;
	margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
	background-color: #777;
}

.carousel-inner>.item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

.marketing h2 {
	font-weight: normal;
}

.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}

/* Featurettes
------------------------- */

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

#featuretteA {
	padding: 30px 0;
	background-color: #6C7A89;
}

#featuretteB {
	padding: 30px 0;
	background-color: #34495E;
}

#featuretteC {
	padding: 30px 0;
	background-color: #22313F;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media ( min-width : 768px) {
	/* Navbar positioning foo */
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
	}

	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}

	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}
	.featurette-heading {
		font-size: 50px;
	}
}

@media ( min-width : 992px) {
	.featurette-heading {
		margin-top: 120px;
	}
}

/*
 * Globals
 */

/* Links */
a, a:focus, a:hover {
	color: #fff;
}

/* Custom default button */
.btn-default, .btn-default:hover, .btn-default:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: #fff;
	border: 1px solid #fff;
}

/*
 * Base structure
 */
html, body {
	height: 100%;
	background-color: #333;
}

body {
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 110%; /* For at least Firefox */
	min-height: 110%;
	-webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
	background-image: url("images/milkyWayLowResCrop.jpg");
	background-size: auto 130%;
	background-position: center 0px;
	background-repeat: no-repeat;
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: middle;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
	padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-nav>li {
	display: inline-block;
}

.masthead-nav>li+li {
	margin-left: 20px;
}

.masthead-nav>li>a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255, 255, 255, .75);
	border-bottom: 2px solid transparent;
}

.masthead-nav>li>a:hover, .masthead-nav>li>a:focus {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
}

.masthead-nav>.active>a, .masthead-nav>.active>a:hover, .masthead-nav>.active>a:focus
	{
	color: #fff;
	border-bottom-color: #fff;
}

@media ( min-width : 768px) {
	.masthead-brand {
		float: left;
	}
	.masthead-nav {
		float: right;
	}
}

/*
 * Cover
 */
.cover {
	padding: 0 20px;
}

.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}

/*
 * Footer
 */
.mastfoot {
	color: #999; /* IE8 proofing */
	color: rgba(255, 255, 255, .5);
}

/*
 * Affix and center
 */
@media ( min-width : 768px) {
	/* Pull out the header and footer */
	.mastheadBox, .masthead {
		/* z-index is OVER 9000!!! */
		background-color: #111;
		z-index: 101;
		position: fixed;
		top: -20px;
	}
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.masthead, .cover-container {
		width: 100%;
		/* Must be percentage or pixels for horizontal alignment */
	}
	.modal-dialog {
		position: absolute;
		left: 50%;
		margin-left: -312px;
		top: 50%;
		margin-top: -250px;
	}
}

@media ( min-width : 992px) {
	.masthead, .cover-container {
		width: 700px;
	}
	.mastheadBox {
		background-color: #111;
		min-height: 56px;
		width: 100%;
		top: 0px;
		left: 0px;
	}
	.modal-dialog {
		position: absolute;
		left: 50%;
		margin-left: -312px;
		top: 50%;
		margin-top: -170px;
	}
}

.mastfoot {
		z-index: 101;
		position: fixed;
		bottom: 0;
		width: 100%;
	}

.modal-body, a:focus {
	outline: none !important;
	text-decoration: none !important;
}

div.container {
	left: 0;
	width: auto; /* or 100% */
	margin-left: 0;
}

.modal-content, .modal-body {
	background-color: #222;
}

#map-canvas {
	min-height: 500px;
	margin: 0px;
	padding: 0px
}

.featurette-image {
	margin-left: auto;
	margin-right: auto;
}

#name, #email, #message { 
	background-color: #BBB; 
}

.modal-header {
	border: none;	
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #111;
}

.modal-footer {
	border: none;	
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #111;
}

.social-media {
	margin-right: 5px;
}

footer {
	padding: 30px 0;
	padding-bottom: 60px;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(180,180,180,0.6); 
}

.back-to-top {	
	display: none;
    bottom: 2em;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
}

.back-to-top:hover {    
	text-decoration: none;
    background-color: rgba(185, 185, 185, 0.65);
}

.widget_recent_entries li{
	min-height: 1px;
	margin-bottom: 20px !important;
	padding-bottom: 20px !important;
}

.widget_recent_entries li:last-child{
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	min-height: 90px;
}

.widget_recent_entries li h3 a{
	display: inline;
}

.widget_recent_entries li img{
	padding: 3px;
	border:1px solid #ddd;
	margin-right: 15px;
	width: 90px;
	float: left;
}

.post-date{
	font-size: 11px;
	line-height: 11px;
	font-family: 'Open Sans';
	text-transform: uppercase;
	margin-bottom: 5px;
	font-weight: bold;
}

.widget_recent_entries li h3{
	font-weight: normal;
	font-size: 12px;
	line-height: 1.4em;
	margin-bottom: 5px;
}

.widget_recent_entries li p{
	font-size: 12px;
	line-height: 18px;
	display: none;
}

footer .widget_md_widget_recent_posts li img{
	border-color: rgba(255, 255, 255, 0.1);
	color: #fff;
}